%h1
  Bidding auction:
  = link_to "#{auction.title}", category_auction_url(auction.category, auction)

= simple_form_for [category, auction, bid] do |f|
  = render 'shared/error_messages', object: f.object
  .inputs
    = f.input :price, readonly: auction.instant_auction?, input_html: { value: auction.current_price }
  .actions
    = f.button :submit
