%h1
  = "All auctions: #{parent}"

  %small.float-right
    = link_to new_auction_path do
      %span.glyphicon.glyphicon-plus
      New auction

%table.table
  %thead
    %tr
      %th Title
      %th Auction type
      %th Price
      %th Bids
      %th Created by
      %th
      %th

  %tfoot.apple_pagination
    %tr
      %td.text-center{colspan: 7}= page_entries_info auctions
    %tr
      %td.text-center{colspan: 7}= will_paginate auctions, container: false

  %tbody
    - if not auctions.empty?
      - auctions.each do |auction|
        %tr
          %td= link_to auction.title, category_auction_path(auction.category, auction)
          %td= auction.auction_type
          %td= auction.current_price
          %td= auction.bids.count
          - if current_user and (auction.user == current_user or current_user.admin?)
            %td= link_to "Edit", edit_category_auction_path(auction.category, auction)
            %td= link_to "Delete", category_auction_path(auction.category, auction), method: :delete, data: { confirm: 'Sure?' }
          - else
            %td &nbsp;
            %td &nbsp;
          %td= link_to auction.user.name, auction.user
    - else
      %tr
        %td.text-center{colspan: 7}
          There are no auctions in this category.
