.jumbotron
  %h2
    = link_to category.title, category_auctions_url(category)
    |
    = auction.title

  %table.table.summary-table
    %tr
      %td.left Description
      %td= auction.description
    %tr
      %td.left Added by
      %td= link_to user.email, user
    %tr
      %td.left Price
      %td
        = auction.current_price
        - unless auction.is_finished?
          = link_to "(make a bid)", new_category_auction_bid_url(category, auction)
        - else
          - unless auction.winner.nil?
            = "(finished - winner: #{auction.winner.email})"
          - else
            (finished - no offers)
    %tr
      %td.left Bids
      %td
        - unless bids.empty?
          - bids.each do |bid|
            .row
              = "#{bid.price} (#{bid.user.email})"
        - else
          This auction has no bids yet.
