.jumbotron
  %h2
    = link_to category.title, category_auctions_url(category)
    |
    = auction.title

  %table.table.summary-table
    %tr
      %td.left Description
      %td= auction.description
    %tr
      %td.left Added by
      %td= link_to user.email, user
    %tr
      %td.left Price
      %td
        = auction.current_price
        -# - if auction.contract.nil?
        = link_to "(Make a bid)", new_category_auction_bid_url(category, auction)
        -# - else
        -#   = "(Finished - won by #{contract.buyer.email})"
    %tr
      %td.left Bids
      %td
        - unless bids.empty?
          - bids.each do |bid|
            .row
              = "#{bid.price} (#{bid.user.email})"
        - else
          This auction has no bids yet.
    -# %tr
    -# %td.left Add review
    -# %td= render 'reviews/form'
    -# - if current_user and (auction.user == current_user or current_user.admin?)
    -# %td.left Actions
    -# %td
    -# = link_to 'Edit', edit_category_auction_path(category.id, auction.id)
    -# |
    -# = link_to 'Delete', category_auction_path(category, auction), method: :delete, confirm: 'Are you sure?'
    -#
